<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Block Wars</title>
    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/custom/custom.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

</head>

<body>

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"><a href="/">Block Wars</a></h3>
                    </div>
                </div>

                @RenderBody()

                <div class="mastfoot">
                    <div class="inner">
                    </div>
                </div>

            </div>

        </div>

    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
