@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = @"~/Views/Shared/_Layout.cshtml";
}
<div id="gameContainer"></div>
<div id="gameOver" hidden="hidden"><p>Game Over! <button id="playAgainButton" type="button" class="btn btn-info xobutton">Play Again!</button></div>
<script src="/lib/jquery/js/jquery.js"></script>
<script src="/lib/signalr/jquery.signalr.js"></script>
<script src="/signalr/hubs"></script>
<script>
    if (!String.prototype.supplant) {
        String.prototype.supplant = function (o) {
            return this.replace(/{([^{}]*)}/g,
                function (a, b) {
                    var r = o[b];
                    return typeof r === 'string' || typeof r === 'number' ? r : a;
                }
            );
        };
    }

    

    $(function () {
        var gameHub = $.connection.game;
        var regionTemplate = "<div><p style=\"font-size:30px\">{Name}:</p><p style=\"color:red;font-size:30px\">{BlockCount}</p></div>"
        var currentGame;

        function playAgain() {
            $("#gameOver").hide();
            currentGame = null;
        }
        $("#playAgainButton").click(playAgain);
        
        gameHub.client.updateRegionInfo = function (leagueInfo) {

            if (currentGame == null) {
                currentGame = leagueInfo.League.LeagueId;
            }
            if (currentGame != leagueInfo.League.LeagueId) {
                $("#gameOver").show();
                return;
            }

            $("#gameContainer").empty();
            $.each(leagueInfo.Regions, function () {
                $("#gameContainer").append(regionTemplate.supplant(this))
            });
        }

        $.connection.hub.start();
    });
</script>